

html {
	height: 100%;
    min-width: 1000px;
    background: url(../img/bg-body.jpg);
    cursor: default;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body, .content p {
	font: 12px/18px Arial,Verdana,Trebuchet, sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	height: auto !important;
	min-height: 100%;
}

h1,h2, .header div, .left-sidebar a{
    text-transform: uppercase;
    color: #363636;
    font-family: DINCyr-Regular;
    font-size: 18px;
    font-weight: 300;
    line-height: 38px;
    margin-bottom: 10px;
    margin-top: 5px;
    
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 200px;
    position: relative;

}

.header .logo{
    position: absolute;
    left:0;
  bottom:100px;
}


.header div{
    font-weight: bold;
    color: rgb(112,112,112);
    position: absolute;
    right: 0;
    display: block;
    text-decoration: none;
    font-size: 11px;
      bottom:100px;
}
.header .tel_num1{
    font-size: 11px;
    font-weight: 550;
}

.header .tel_num2{
    font-size: 18px;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%; 
}

.middle:after {
	display: table;
	clear: both;
	content: '';
    
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 0 150px 270px;
}

.content p{
    color: #363636;
    font-size: 11px;
    font-weight: 400;
    margin: 0;
    font:Regular;
    margin-bottom: 15px;
   
   
}

.content .members{
    list-style-type: none;
    margin: 0;
    padding: 0;
     
}
.content .member{
    position: relative;
    display: block;
    width: auto;
    margin: 0 0 18px;
    word-wrap: break-word; 
}

.content .member .image{
    height:78px;
    width: 78px;
    background-color: black;
    position: relative;
}

.content .member img{
    
    vertical-align: top;
    padding-bottom:  20px;
    height:78px;
    position: absolute;
    transform: translateX(-50%);
    top:0;
    left:50%;
   
}
.content .block{
    display: inline-block;
    vertical-align: top;
}

.content .people{
    display: inline-block;
    vertical-align: top;
    width:220px;
    margin-right: 20px;
}
.content .people:last-child{
    margin-right: 0;
}
.content .people .image{

    overflow: hidden;
    width: 78px;
    height: 78px;
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
    margin-bottom: 16px;

}

.content h2{
    max-width: 250px;
    display: inline-block;
    margin-bottom: 25px;
}

 .menu-list{
    list-style-type: none;
    padding: 0;
}

 .menu-item a{
    font-size: 40px;
    font-weight: 300;
    line-height: 38px;
    text-decoration: none;
    position: relative;
    margin-left: 0;  
     color:inherit;
}
.menu-item a:hover{
    color:white;
    background-color: rgb(112,112,112);
    
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 250px;
	margin-left: -100%;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 1000px;
	margin: -100px auto 0;
	height: 100px;
	position: relative;
    border-top: 1px  solid  rgb(167,167,167);
    color: #707070;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing:1px;
    box-sizing: border-box;
}

.footer div {
    display: block;
     vertical-align: top;
    position: absolute;
    width: 99px;  
    margin-top: 40px;
}

.footer  a{
    position: absolute;
    left:0;
    margin-left: 123px;
    margin-top: 40px;
     color: #707070;
}

.footer  a:hover{
    text-decoration: none;
}